html {
	width: 100%;
	height:100%;
}
body {
	background-image: url('images/bg.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	font-family: Candara;
}
@font-face {
	font-family: 'Candara';
	src: url('fonts/candara-webfont.eot'); 
	src: url('fonts/candara-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/candara-webfont.woff') format('woff'),
	     url('fonts/candara-webfont.ttf')  format('truetype'),
	     url('fonts/candara-webfont.svg#svgcandara') format('svg');
}
#fuelGauge {
	width: 20px;
	height:200px;
	float: left;
	margin-left: 5%;
	margin-top: 20%;
}
#fuelStatus {
	background-color: #90E050;
	border-right: 1px solid #006600;
	width: 33px;
	height: 100%;
	position:relative;
	bottom:0;
}
.fuel {
	/*background-image: url('images/mittaribg.png');
	background-repeat: no-repeat;s
	width: 69px;
	height: 259px;
	float: left;
	margin-left: 5%;
	margin-top: 20%;*/
}
.questions {
	float: right;
	margin-right: 20%;
	width: 60%;
	background-color: white;
	margin-top: 20%;
	margin-bottom: 40px;
	font-size: 1.5em;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid gray;
}
.result {
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	background-color: white;
	margin-top: 20%;
	font-size: 2em;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid gray;
	min-height: 30%;
	padding: 30px;
}
.answerOption {
	font-size:80%;
	background-image: linear-gradient(bottom, rgb(242,242,242) 11%, rgb(240,240,240) 100%, rgb(255,255,255) 78%);
	background-image: -o-linear-gradient(bottom, rgb(242,242,242) 11%, rgb(240,240,240) 100%, rgb(255,255,255) 78%);
	background-image: -moz-linear-gradient(bottom, rgb(242,242,242) 11%, rgb(240,240,240) 100%, rgb(255,255,255) 78%);
	background-image: -webkit-linear-gradient(bottom, rgb(242,242,242) 11%, rgb(240,240,240) 100%, rgb(255,255,255) 78%);
	background-image: -ms-linear-gradient(bottom, rgb(242,242,242) 11%, rgb(240,240,240) 100%, rgb(255,255,255) 78%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.11, rgb(242,242,242)),
		color-stop(1, rgb(240,240,240)),
		color-stop(0.78, rgb(255,255,255))
	);

	border-bottom: 1px solid #cfcfcf;
	box-sizing: border-box;
	padding: 20px 10px 10px 20px;
}
.question {
	width: 100%;
	height: 83px;
	background-color: white;
	border-bottom: 1px solid #cfcfcf;
	box-sizing: border-box;
	padding: 20px 10px 10px 20px;
	color: #00315a;
	font-weight: bold;
}
.aika {
	height: 1px;
	width: 100%;
	box-sizing: border-box;
	margin-top: 2px;
	padding: 5px;
	background-color: #52a600;
}
.startGame {
	background-image: url('images/start.png');
	width: 458px;
	min-height: 141px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	display: block;
}
h1, h2 {
	color: #0d3353;
}
